certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
decorator==4.4.2
future==0.18.2
geocoder==1.38.1
idna==2.10
munch==2.5.0
numpy==1.19.4
pandas==1.2.1
pbr==5.5.1
Pillow==8.1.0
pygame==2.0.0
pygame-gui==0.5.7
pyproj==3.0.0.post1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyqtgraph==0.11.0
python-dateutil==2.8.1
pythonGraph==0.2.1
pytz==2020.5
ratelim==0.1.6
requests==2.25.1
schedule==1.0.0
Shapely==1.7.1
six==1.15.0
urllib3==1.26.2

pip freeze > requirements.txt
